@import url(menu.css);
@import url(button.css);
@import url(tabel.css);
body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 1.7em; 
	background-image: url(../images/header/ppdb_wrapper.jpg);
	background-color: #77bf28;
	background-position: top;
	background-repeat: repeat-x;
}

a, a:link, a:visited { color: #0099FF; text-decoration: none; }
a:hover { text-decoration: none; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h4 {
    text-transform:uppercase;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.center{ text-align:center; }
.color_one{
	color: #6189F3;   
	}
	a.one_col_btn{
	color:#0099FF;
	clear:both;
	line-height:39px;
	text-transform:capitalize;
	background-repeat: no-repeat;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	}
	a.one_col_btn1{
	color:#0099FF;
	clear:both;
	line-height:51px;
	text-transform:capitalize;
	background-repeat: no-repeat;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	}

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

#ppdb_body_wrapper {
	width: 100%;
	background: url(../images/header/ppdb_body.jpg) top center no-repeat
}

#ppdb_wrapper {
	width: 960px;
	padding: 0 30px;
	margin: 0 auto
}

#ppdb_header {
	width: 900px;
	height: 50px;
	padding: 50px 30px;
	background: url(../images/header/ppdb_header.png) no-repeat top center
}

#site_title a {
	display: block;
	position: relative;
	padding: 20px 0 0 0;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	text-decoration: none
}
#site_title a span {
	position: absolute;
	display: block;
	left: 200px;
	top: 30px;
	font-size: 12px;
	color: #000;
}

#ppdb_menu {
	width: 900px;
	height: 61px;
	padding: 0 30px;
	background: url(../images/header/ppdb_menu.png) no-repeat top center
}

#ppdb_menu ul { margin: 0; padding: 3px 0 0 0; list-style: none }
#ppdb_menu ul li { padding: 0; margin: 0; display: inline }
#ppdb_menu ul li a {
	float: left;
	display: block;
	width: 120px;
	height: 30px;
	padding: 6px 0 0 0;
	margin-right: 1px;
	font-size: 14px;
	color: #333;
	/* text-shadow: 1px 1px 1px #b0da81; */
	text-decoration: none;
	font-weight: bold;
	text-align: center; 
	outline: none;
}

#ppdb_menu ul li a:hover, #ppdb_menu ul .current {
	color: #fff;
	/* text-shadow: 1px 1px 1px #555; */
	background: url(../images/) no-repeat }	


#ppdb_middle {
	width: 960px;
	height: 320px;
	background: url(../images/header/ppdb_middle.jpg) no-repeat top center
}

#ppdb_middle_content {
	width: 820px;
	height: 210px;
	padding: 20px 70px;
	overflow: hidden
}

#ppdb_middle_content h1 {
	line-height: 40px;
	margin-bottom: 10px;
}

#ppdb_middle_content p {
	font-size: 20px;
	color: #000;
	line-height: 30px;
}

#services {
	clear: both;
	width: 930px;
	height: 70px;
	padding: 0 15px
}

#services a {
	float: left;
	display: block;
	width: 210px;
	height: 60px;
	padding: 10px;
	margin-right: 2px;
	font-size: 28px;
	color: #fff;
	/* text-shadow: 1px 1px 1px #999; */
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#services a span {
	display: block;
	color: #cbdeb6;
	margin-top: 5px;
	font-size: 16px;
	/* text-shadow: none */
}

#services a:hover, #services .current {
	text-decoration: none;
	background: url(../images/header/ppdb_service_hover.jpg) no-repeat
}

#ppdb_main_base {
	width: 960px;
	background: url(../images/header/ppdb_content.png) repeat-y center
}

#ppdb_main {
	width: 860px;
	padding: 50px 50px 25px;
	background: url(../images/header/ppdb_content_top.png) top center no-repeat
}

.content_box { margin-left: 25px; clear: both; margin-bottom: 50px }
.col_w270 { float: left; width: 200px; margin-right: 70px; }
.col_w271 { float: left; width: 160px; margin-right: 100px; }
.col_w271l { float: left; width: 160px; margin-left: 250px; }
.col_w271b { float: left; width: 160px; margin-left: 100px; }
.col_w271c { float: left; width: 180px; margin-left: 100px; }
.last_col { margin: 0 }

.service_box {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #fff;
}

.service_box img {
	float: left;
	width: 48px;
	height: 48px;
}

.service_box .right {
	float: right;
	width: 460px;
}

.service_box ol li {
	list-style: decimal-leading-zero;
	margin-bottom: 5px;
}

#contact_form {  padding: 0; width: 390px; }
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	color: #333; 
	width: 380px; 
	padding: 5px; 
	margin-bottom: 10px; 
	background: #f6f6f6; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	border: 1px solid #cfcfcf; 
}

#contact_form form label { display: block; width: 100px; margin-right: 10px; font-size: 14px; }

#contact_form form textarea { 
	color: #333; 
	width: 380px;  
	height: 200px; 
	padding: 5px;
	margin-bottom: 10px;	
	background: #f6f6f6; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	border: 1px solid #cfcfcf; 
}

#contact_form form .submit_btn { margin: 10px 0px; padding: 5px 14px; border: 1px solid #ccc; background: #fff; }

#ppdb_main_top {
	width: 960px;
	height: 10px;
	background: url(../images/header/ppdb_content_top1.png) top center no-repeat
}
#ppdb_main_bottom {
	width: 960px;
	height: 10px;
	background: url(../images/header/ppdb_content_bottom.png) top center no-repeat
}

.map img{
	width:270px;
	height: 160px;	
	border: 1px solid #999;
	padding: 5px;
}

#ppdb_footer {
	width: 900px;
	padding: 30px 30px;
	color: #fff;
	text-align: center;
	/*background: url(../images/header/ppdb_footer.jpg) bottom center no-repeat*/
}

#ppdb_footer a {
	color: #fff
}
#message_box {
position: absolute;
top: 0;
left: 0;
z-index: 10;
padding:5px;
border:1px solid #CCCCCC;
text-align:center;
font-weight:bold;
width:99%;
background-color: #ffc;
} 
input.error, select.error { border: 1px solid red; }
label.error { color:red; margin-left: 10px; }
