/*========== tabel*/
.pretty-table
{
  padding: 0;
  /*margin-left: 270px;*/
  margin-top: 0px;
  table-align:center;
  border-collapse: collapse;
  border: 1px solid #006600;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #006600;
  background: #BCE4C4 url("widget-table-bg.jpg") top left repeat-x;
}

.pretty-table caption
{
  caption-side: bottom;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table th, .pretty-table td
{
  border: 1px dotted #006624;
  padding: 0.5em;
  text-align: left;
  color: #000;
  background-color: #FFFFFF;
}

.pretty-table th[scope=col]
{
  color: #FFF;
  background-color: #22a868;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 2px solid #333;
  border-right: 1px dotted #666;
  text-align: left;
}

.pretty-table th+th[scope=col]
{
  color: #FFF;
  text-align: left;
  background-color:#22a868;
  border-right: 1px dotted #666;
}

.pretty-table th[scope=row]
{
  background-color: #b8cfe5;
  border-right: 2px solid #333;
}

.pretty-table tr.alt th, .pretty-table tr.alt td
{
  color: #2a4763;
}

.pretty-table tr:hover th[scope=row], .pretty-table tr:hover td
{
  background-color: #FFFFCC;
  color: #339933;
}
