@import url(superfish.css);
@import url( button.css ); 
@import url( table.css );
@import url( tabs.css );

html, body {border: 0; margin: 0; padding: 0;}

body {
	margin:0px;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color: ;
	background-image: url(../images/);
	background-position: top;
	background-repeat: repeat-x;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

a {
  	text-decoration: none;
  	color: #0066B3;
	border:0;
}

a:hover {text-decoration: none; color: #820000;}

h3 { 
    font-size: 1.4em;
	font-variant: small-caps;
	color: #65C80B;
	border-bottom: 2px solid #ccc;
	width: 190px;
	font-weight: bold;
	margin: 30px 0 10px 0;
}

#ppdb_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 10px auto;
}

/* header */

#ppdb_header {
	width: 960px;
	height: 100px;
	background: none;
}

#ppdb_header  #site_title {
	float: left;
	padding: 40px 40px 0;
	background:transparent url(../images/konten/logo.png) no-repeat;
	width:234px;
	height:auto;
}

#ppdb_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#ppdb_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#ppdb_header  #site_title h1 a span {
	display: block;
	text-align: left;
	margin: 5px 0 0 3px;
	font-size: 14px;
	color: #352c2c;
	font-weight: bold;
	letter-spacing: 2px;
}

#ppdb_header .twitter a {
	float: right;
	display: block;
	width: 200px;
	height: 40px;
	padding: 30px 0 10px 0;
	margin-top: 10px;
	color: #2fb4e2;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	background: url(../images/twitter.png) right bottom no-repeat;
}

#ppdb_header .twitter a:hover {
	color: #ffffff;
	text-decoration: none;	
}

.twitter a span {
	font-size: 12px;
	margin-top: 5px;

	letter-spacing: 5px;
}
.crumb_navigation{
width:500px;
height:15px;
padding:80px 0 0 50px;
margin-left:450px;
color:#333333;
background:url(../images/) no-repeat left;
background-position:30px 76px;
}
.crumb_navigation a{
color:#0fa0dd;
text-decoration:underline;
}
span.current{
color:#0fa0dd;
}

/* end header */

#ppdb_menu {
	
	width: 960px;
	height: 36px;
	background: url(../images/konten/menu3.png) no-repeat;
}
/* end of menu */

#ppdb_content_wrapper {
	width: 960px;
}

#ppdb_slider {
	width: 900px;
	height: 200px;
	padding: 40px 30px;
	background: url(../images/ppdb_slider.png) no-repeat;
}

#ppdb_content_header {
	width: 880px;
	height: 70px;
	padding: 30px 40px 0;
	color: #333;
	text-align: center;
	background: url(../images/ppdb_h1.png) no-repeat;
}

#ppdb_content_full_col {
	clear: both;
	padding: 40px;
}

#ppdb_content_base {
	width: 960px;
	background: url(../images/konten/ppdb_content.png) repeat-y center
}
#ppdb_content {
	width: 860px;
	padding: 50px 50px 25px;
	background: url(../images/konten/ppdb_content_top.png) top center no-repeat
}
.col_w270 { float: center; margin-left: 20px; }
#ppdb_content_top {
	width: 960px;
	height: 10px;
	background: url(../images/konten/ppdb_content_top.png) top center no-repeat
}
#ppdb_content_bottom {
	width: 960px;
	height: 10px;
	background: url(../images/konten/ppdb_content_bottom.png) top center no-repeat
}
				
#shortcuts{width:500px;}
#shortcuts ul {margin:0px;padding:0px;list-style:none;margin-top:20px;}
#shortcuts ul li{float:left}
#shortcuts ul li.first_li a{margin-left:0px;}
#shortcuts ul li a{border:1px solid #999;-moz-border-radius:3px;display:block;padding:5px;margin:5px;width:90px;text-align:center;}
#shortcuts ul li a span{font-size:10px;margin-top:5px;display:block;background:#eee;padding:2px;}
#shortcuts ul li a:hover{border:1px solid #ececec;text-decoration:none;}
				
#ppdb_footer {
	width: 900px;
	height: 45px;
	padding: 15px 30px 0;
	color: #333;
	text-align: center;
	background: url(../images/konten/footer.png) no-repeat;
}

#ppdb_footer a {
	color: #333;
}
/* end of footer */
input.error, select.error { border: 1px solid red; }
label.error { color:red; margin-left: 10px; }
