/* drop down menu - Main Navigation */

.nav {
	display: block;
	background: transparent url(../images/) repeat-x left top;
	padding: 0;
	margin: 0;
	height: 36px;
	z-index: 100;
 	position: relative;
	width: 100%;
	list-style: none;
	text-align: center;
}

.nav li {
	text-align: center;
	display: block;
	float: left;
	height: 34px;
	margin: 1px;
	padding: 0;
  	position: relative;
	background: url(../images/sfmenu/nav_sep1.jpg) no-repeat 0 0;
}

.nav li a {
	float: left;
	height: 25px;
	padding: 0 15px;
	padding-top: 9px;
	color: #000;
	font-size: 0.9em;
	margin-left: 2px;
}

.nav li a:hover {
	background: url(../images/sfmenu/nav_over1.jpg) repeat-x 0 0;
	color: white;
}

.nav li a.active {
	background: url(../images/sfmenu/nav_over1.jpg) repeat-x 0 0;
  	color: white;
	font-weight: bold;
}

.nav li.sep {
	background: url(../images/sfmenu/nav_sep1.jpg) no-repeat 0 0;
	width: 2px;
	height: 34px;
	float: left;
}

.nav li.left {
	background: url(../images/sfmenu/nav_l.jpg) no-repeat left top;
	width: 150px;
	height: 34px;
	float: left;
}

.nav li.right {
	background: url(../images/sfmenu/nav_r.jpg) no-repeat right top;
	width: 36px;
	height: 34px;
	float: right;
}

.nav li ul {
	display: none;
	width: 170px;
	position: absolute;
	top: 34px;
	left: 0;
	margin: 0;
	padding: 0;
	/* Transparent background for drop down menu */
  	background:transparent filter: alpha(opacity=75);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  	opacity:0.75;
}

.nav li ul li {
  	border: 0;
  	height: 25px;
  	color: #99FF00;
  	background: #006FA6;
  	margin: 0;
}

.nav li ul li a {
	display: block;
  	height: 25px;
  	width: 140px;
  	padding: 0 20px 0 15px;
  	border-top: 1px #30B5F8 solid;
  	white-space: nowrap;
	background: url(../images/sfmenu/topnav_active.gif) repeat-x 0 0;
  	color: white;
  	text-align: left;
  	line-height: 25px;
  	font-weight: normal;
}

.nav li ul li a:hover {
  	color: #000;
  	background: #BFE4F7;
}

/* Hacks for Opera to fix the drop down menu problem */
html:first-child .nav li a {
	float: none;
	height: 34px;
	padding-top: 0;
	line-height: 34px;
	display: block;
}
html:first-child .nav li ul li a {
  	height: 25px;
  	line-height: 25px;
}


.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.100em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/sfmenu/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
