body { font: 0.8em Arial; }

/* Datagrid Table */
table.tbl { width: 95%; border: 2px solid #399A4F; font-size: 0.9em;  margin-right: 5px;  margin-left: 5px; clear: both; }
th.tbl-header {background: #22a868; text-align: center; padding: 3px; font-weight: bold; border-bottom: 2px solid #399A4F; }
th.tbl-headerr {background: #22a868; text-align: center; padding: 3px; font-weight: bold; border-bottom: 2px solid #399A4F; }
tr.tbl-footer {}
table.tbl-footer { font-size: 1em; background: url(images/head_bg2.gif);}
table.tbl-footerr { font-size: 1em; background: url(images/head_bgg1.gif);}
tr.tbl-row {}
tr.tbl-row:hover { background: #EBFFFF; } /* Old color: #E9E9E9 */
tr.tbl-row-even { background: #F1FFE2; }
tr.tbl-row-odd { background: white; }
tr.tbl-row-highlight:hover { background: #fffba6; cursor: pointer; }
td.tbl-nav { background: url(/images/head_bg1.gif); height: 20px; border-top: 2px solid #399A4F; color: #4D4D4D; }
td.tbl-pages { text-align: center; }
td.tbl-row-num { text-align: right; }
td.tbl-num { text-align: center; }
td.tbl-cell {}
td.tbl-controls { text-align: center; }
td.tbl-found {}
td.tbl-checkall {}
td.tbl-page { text-align: right; }
td.tbl-noresults { font-weight: bold; color: #9F0000; height: 45px; text-align: center; }
img.tbl-reset-image { margin-right: 5px; border: 0; }
span.tbl-create { margin: 5px 3px; }
span.tbl-delete{ margin: 5px 3px; }
span.tbl-reset { margin: 5px 3px; }
span.tbl-upload { margin: 100px 100px; }
img.tbl-create-image { margin-right: 5px; border: 0; }
div.tbl-filter-box {}
img.tbl-arrows { border: 0; }
img.tbl-order-image { margin: 0 2px; border: 0; }
img.tbl-filter-image { border: 0; }
img.tbl-control-image { border: 0; }
span.page-selected { color: black; font-weight: bold; }
input.tbl_checkbox {}
